/*login page*/
.btn-general1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #6255a5;
    color: white;
    text-align: center;
    padding: 10px 30px;
    margin-top: 15px;
    position: inherit;
}
.smooth-scroll :hover{
	border-bottom: 1px solid #6255a5 !important;
}
.error{
    color:red;
    line-height:30px;
    font-weight:300;
    
}

#bg-img {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: 500px;
    height: 500px;
    z-index: -1;
    background: url("~/../video/0020.jpg") no-repeat;
    background-size: cover;
}

 #img,
#img1 {

    position: absolute; left: 50%; top: 17%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}

h1{
    font-family: serif "Open Sans";
    font-size:34px;
    font-weight: 600;
    color: #6255a5;
    line-height: 38px;
    text-align: center;
}
#p{
    font-family: sans-serif "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    margin-top: 20px;
}
.pa{
    text-align: center;
}
#a{
    font-family: sans-serif "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
}

#form1{
    margin-top: 70px;
    background-color: white;
    position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}

#login-overlay {
/*    background-color: rgba(0, 0, 0, 0.8);*/
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
}

#forminer
{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
label{
    font-family: sans-serif "Open Sans";
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    color: #333333;
}
.form-group1{
    margin-top: 45px;
}
.form-group2{
    margin-top: 30px;
}
.form-group2 a{
    margin-left: 300px;
}
.form-check{
    margin-top: 20px;
}
button{
    margin-top: 30px;
    width: 480px;
    height: 30px;
    border-radius: 3px;
    font-style: sans-serif "Open Sans";
    font-size:18px;
    line-height: 22px;
    background-color:#6255a5;
    color:#fff;
}

.bottom{
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    font-family: sans-serif "Open Sans";
    text-align: center;
}
/* Change pass*/
.form-group5{
    margin-top: 10px;
}
.form-group6{
    margin-top: 10px;
}
.topchang{
	margin-top: 30px;
}

/*Create account*/
#forminer4
{

    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
#form4{
    background-color: white;
     position: absolute; left: 50%; top: 60%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}
.btm{
    text-align: center;
}
/*forgot*/
#forminer2
{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom:50px;
    margin-right: 20px;
}
#form2{
    margin-top: 20px;
    background-color: white;
    position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}
#img2{

    position: absolute; left: 50%; top: 28%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}
/*User*/
#user h1{
    font-size: 20px;
    text-align: left;
    padding-left: 20PX;
    padding-top: 0px;
}
#user h2{
    color: #fff;
    text-align: center;
    top: 20%;
}
.btn{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #6255a5;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    }
#statment {
   
    background-image: url("../../images/User-Profile/banner-with-overlay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 20px;
}
#statment h3 {
    color: white;
    padding: 100px 100px;
}
#forminer5{
    padding: 50px 50px;
}
.formgroup{
    padding-top: 20px;
}
.btn1{
    font-family: 'Raleway', sans-serif;
    position: parent;
	font-size: 15px;
    padding: 10px 10px 10px 10px;
    background-color: #6255a5;
    color: aliceblue;
    margin-left:10px;
/*    margin-top 50px;*/
}
.btns{
	font-family: 'Raleway', sans-serif;
    position: parent;
	font-size: 15px;
    padding: 10px 10px 10px 10px;
    background-color: #6255a5;
    color: aliceblue;
    margin-left:140px;
}
.btn001{
	font-family: 'Raleway', sans-serif;
    position: parent;
	border-radius: 3px;
	font-size: 18px;
   	 padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
    background-color: #6255a5;
    color: #fff;
	line-height: 22px;
	margin-left: 20px;
}
#forminer12 h1{
	text-align: left;
	margin-left: 190px;
}

.btn01{
font-family: 'Raleway', sans-serif;
    position: parent;
	border-radius: 3px;
	font-size: 18px;
    padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
    background-color: #6255a5;
	color: #fff;
	line-height: 22px;
	margin-left: 190px;
	margin-bottom: 30px;
}
#form5 p{
    margin-left: 0px;
    font-size: 10px;
    margin-top: 30px;
}
.container img{
    border-radius: 50%;
    margin-top: 5px
}
.topi{
    border-radius: 0%;
    padding: 5px;
}

ul.social-list {
  padding: 0;
  float: right;
}

ul.social-list li {
  display: inline-block;
  padding: 0;
}

ul.social-list li a {
  text-align: center;
  border: 1px solid;
  background-color: #6255a5;
  width: 36px;
  height: 36px;
  display: inline-block;
  line-height: 32px;
  color: white;
  border-radius: 50%;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

/*conforim*/
.form6{

    padding-left: 50px;
    padding-bottom: 70px;
    padding-right: 50px;
    background-color: white;
 position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
    
}
.form6 img{
    margin-top: 20px;
    padding: 10px;
}
.form6 h1{
    text-align: left;
}
.btn-general {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #6255a5;
    color: white;
    text-align: center;
    padding: 10px 30px;
    margin-top: -5px;
    position: inherit;
}
/*home*/
#statment1 {

    background-image: url("~/./images/home/banner-with-overlay.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: upper;
    background-size: cover;
    background-position: center;
}
#statment1 .btn-general1 {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    border: 2px solid;
    border-color: white;
    text-align: center;
    padding: 10px 10px;
     background-color: rgba(0, 0, 0, 0);
    margin-left: 20px;
}
#statment1 .btn2{
    background: white;
    color: #6255a5;
    margin-top: 5px;
}
#statment1 a{
    color: white;
}
#statment1 h2{
    color: white;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 20px;
}
#statment1 p{
    color: white;
    margin-left: 20px;
}
#statment1 .topi{
    border-radius: 0%;
    font-size: 50%;
}
#under-home{
     position: absolute;
    margin-top: 27%;
    margin-left: 10%;
    right: 10%;
}
.under-home-1 h1{
    text-align: left;
    font-size: 25px;
    margin-top: -5px;
}
.under-home-2{
    margin-left: 20%;
}
.under-home-2 h2{
    color: #6255a5;
    font-size: 20px;
    text-align: center
}
.under-home-2 p{
    text-align: center;
}
.dw-img{
    margin-left: 45%;
}
.btn-7{
     font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    background-color: #6255a5;
    color: aliceblue;
    margin-left: 38%;
    margin-top: 30px;
}
.under-home-3{
    margin-top: 10%;
}
.cust h3{
     font-family: 'Raleway', sans-serif;
    color: #6255a5;
    margin-top: -15%;
    margin-left: 28%;
}
.cust h4{
     font-family: 'Raleway', sans-serif;
 margin-left: 28%;   
}
.cust p{
     font-family:sans-serif;
     margin-top: 10%;
    font-style: italic;
}
/*Search*/
.field-icon1 {
    float: left;
    margin-left: 5px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
}
#st{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 20px;
    margin-left: -10%;
}
.form-iner8{
    margin-left: 10%;
    margin-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: lightgray;
}

#tech-statment h3{
    font-size: 50px;
}
#tech-statment1 h3{
	font-size: 50px;
} 
.search-under2 img{
    border-radius: 0%;
}
.search-under2 h1{
    font-size: 20px;
    text-align: center;
}
.boxi{
    padding: 10px 10px;
}
.boxi h1{
    text-align: left;
}
.bo img{
    text-align: up;
}
.pagination{
    border: 0px;
    margin-left: 45%;
}
.pagination a{
    border-radius:50%;
	margin: 5px;
}

.btn-pagination {
  background-color: #6255a5 !important;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-pagination{
	color: white !important;
}
.te{
    margin-left: 20%;
    margin-top: -6%;
    
}
.img-rd{
    color: red;
    margin-top: -6%;
    margin-left: 15%;
}
.re{
    margin-left: 40%;
    margin-top: -6%;
}
.fil1{
    color: yellow;
}
/*table*/
td{
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	border-radius: 3px;
	color: gray;
	text-align: center;
}
tr{
	height: 75px;
	text-align: center;
}
tr:hover{
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
th{
	text-align: center;
}

/*note details*/
hr.line1{
    border-top: 1px solid #8c8b8b;
}
.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0;
}
.fancy-line:before {
    top: -0.5em;
    height: 1.5em;
}
.fancy-line:after {
    height: 0.5em;
    top: calc(-0.5em + 1px);      
}

.fancy-line:before, .fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

.fancy-line, .fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
}

body, .fancy-line:after {
    background: #f4f4f4;
}
.ndr h1{
    font-size: 25px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 10px;
}
.ndr img{
    border-radius: 0%;
}
.ndr1 h1{
    margin-top: 25%;
}
.btn9{
    margin-left: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    background-color: #6255a5;
    color: aliceblue;
}
.ndl h3{
     font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.ndl{
    margin-top: 5%;
}
.ndl1{
    text-align: right;
    color: #6255a5;
}
.ndl2{
    text-align: center;
}
.lmt{
    text-align: right;
    color: #6255a5;
    margin-top: -8%;
}
.rd{
    color: red;
}
hr.line2{
    border-top: 1px solid #8c8b8b;
    margin-left: 12.8%;
    margin-right: 12.8%;
}
.nod2 img{
  	text-align: left;
	
}
.nod2 h4{
	margin-top: -23%;
	margin-left: 23%;
}
.nod2 p{
	margin-left: 25%;
	text-align: justify;
	margin-top: 1%;
}
.ndst{
	margin-left: 25%;
	margin-top: 1%;
}
.nod3{
	border: 1px groove #4f4f4f;
	padding: 25px;
	margin-left: 10%;
	margin-top: 1%;
}
.npr{
	text-align: left;
	font-size: 25px;
}
.npr2{
	text-align: left;
	margin-left: 10%;
	font-size: 25px;
	margin-bottom: 3%;
}
/*pop up*/
.modal-content{
	padding-left: 20px;
}
.modal-header h5{
	color:#6255a5;
	font-size: 26px;
	font-family: "Open Sans";
	font-weight: Semibold(600);
	line-height: 30px;
	padding-top: 15px;
	margin-left: 40px;
	margin-right: 55px;
	text-align: center;
}
.modal-header p{
	font-family: "Open Sans";
	padding-bottom: 30px;
	line-height: 22px;
	font-weight: 400;
	color: #333333;
}
.modal-header h2{
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}
.modal-header img{
	width: 63px;
	height: 63px;
	margin-left: 45%;
	margin-top: -5%
}
.close1{
	margin-left: 92%;
	font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: gray;
    margin-top: -5%%;
}
.modal-header{
	padding: 0px;
	border: 0px;
}
.modal-content1{
	background: white;
}
.modal-dialog1{

	margin:20%;
}
.modal-header1 h4{
	margin-bottom: 0%;
	font-size: 20px;
	color: #6255a5
}
.rate{
	margin: 10%;
	padding: 2%;
	text-align: center;
	
}

/*contact us*/
.contus h4{
	font-family: "Open Sans";
	font-size: 34px;
	font-weight: 600;
	line-height: 38px;
	color:#6255a5;
	text-align: left;
	padding-left: 140px;
}
.contus h5{
	padding-left: 140px;
	margin-bottom: 50px;
}
#form20{
	padding-top: 60px;
	padding-left: 100px;
}
.pacu{
	text-align: left;
}
.form-control1{
	border: 1px solid #d1d1d1;
	width: 600px;
	height: 190px;
	border-radius: 3px;
}
.form-control2 {
    border: 1px solid #d1d1d1;
    width: 550px;
    height: 190px;
    border-radius: 3px;
    background-image: url("../../images/User-Profile/upload.png");
    background-repeat: no-repeat;
    background-position: center;
}
.form-control3 {
    border: 1px solid #d1d1d1;
    width: 550px;
    height: 190px;
    border-radius: 3px;
    background-image: url("../../../images/Add-notes/upload-note.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.form-control6{
	border: 1px solid #d1d1d1;
	width: 1140px;
	height: 153px;
	border-radius: 3px;
}
.form-control4 {
    border: 1px solid #d1d1d1;
    width: 550px;
    height: 105px;
    border-radius: 3px;
    background-image: url("../../images/User-Profile/upload.png");
    background-repeat: no-repeat;
    background-position: center;
}
/*dash board*/
.searchb{
	width: 200px;
	height: 40px;
}
.dash1 h1{
	text-align: left;
	margin-top: 0%;
	font-size: 34px;
}
.dropdown-item{
	text-align: justify-all;
	font-size: 12px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 70px;
}
.dropdown-menu{
	width: 200px;
	padding: 10px;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 18px;
	color: #333333;
}
.dropdown-item1{
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 18px;
	width: 400;
	color: #333333;
}
.dropdown-item1:hover{
	color: #fff !important;
	background-color: #6255a5 !important;
	background-attachment: fixed;
}
.dash3  h4{
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	color: #6255a5;
}
.dash5  h4{
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	color: #6255a5;
}
.dash2 h1{
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 34px;
	color: #6255a5;
}
.dash2 h5{
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	color: #333333;
}
.btn11{
	background-color: #6255a5;
	margin-left: 10px;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	line-height: 2px;
}
.btn12{
	background-color: #6255a5;
	margin-left: 80%;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	line-height: 2px;
}
.dash5 i{
	margin-left: 250px;
	margin-top: -27px;
}
.dash3 i{
	margin-left: 250px;
	margin-top: -27px;
}
.dash5 input{
	margin-left: 240px;
	padding-left: 40px;
}
.dash3 input{
	margin-left: 240px;
	padding-left: 40px;
}

/*FAQ*/
.faq-border,
.faq-second-border {
  border: 1px solid #d1d1d1;
  padding: 15px;
  background-color: #a6a6;
	margin-bottom: 20px;
}

.faq-second-border {
  background-color:#f3f3f3;
}

.faq-border h5,
.faq-second-border h5 {
  font-size: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin-bottom: 0;
}

.faq-second-border h5 {
  font-weight: 600;
  margin-bottom: 20px;
}

.faq-second-border p {
  padding: 0.5em;
  font-size: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
	margin-top: -3%;
}
.faq-border img{
	margin-left: 95%;
	margin-top: -4%;
}
.faq-second-border img{
	margin-left: 95%;
	margin-top: -8%;
}
/*Rating star*/
.modal-header h4{
	color: #6255a5;
	margin-top: -7%;	
	font-size: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
	line-height: 20px;
	margin-left: 5%;
}
.underrating{
	margin-top: 80px;
	
}
.underrating label{
	text-align: left;
	font-size: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 2px;
	
	color: #333333;
	margin-left: -30%;
}
.form-control-13{
	border: 1px solid #d1d1d1;
	width: 450px;
	height: 150px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 3px;
	margin-bottom: 30px;
}
.btn-rat{
	font-family: 'Open Sans', sans-serif;
	border-radius: 3px;
	font-size: 18px;
    padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
    background-color: #6255a5;
	color: #fff;
	line-height: 22px;
	margin-left: 50px;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 0px;
    padding:  0px;
	margin-top: 40px;
	text-align: center;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size: 20px;
	text-align: center;
	margin-top: -20%;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Book preview*/
/*
   general styles
*/
.center-block-horiz {
   margin-left: auto !important;
   margin-right: auto !important;
 }
.set-margin-cicis-menu-to-go {
  margin: 20px;
}
.set-padding-cicis-menu-to-go {
  padding: 20px;
}
.set-border-cicis-menu-to-go {
   border: 5px inset #4f4f4f;
}
set-box-shadow-cicis-menu-to-go {
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
     -moz-box-shadow: 4px 4px 14px #4f4f4f;
          box-shadow: 4px 4px 14px #4f4f4f;
}
  
/*
** Style the iframe
** =========================
*/
/*
    css commmon to all iframes
*/
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  overflow: hidden;
  /* put following styles (necessary for overflow and 
     scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
    -webkit-overflow-scrolling: touch; 
                      overflow: auto; */
}
.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
  border-style: none;
  padding: 0;
  margin: 0;
}

/*
    css particular to this iframe
*/

#Iframe-Cicis-Menu-To-Go {
  max-width: 666.67px;
  max-height: 600px;
  overflow: hidden;
}
/*
   padding-bottom = h/w as %
*/
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;}

}

