<!DOCTYPE html>
<html lang="en">

<head>
    <!-- IMOPRTANT META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,intial-scale=1">
    <!-- Basic SEO -->
    <meta name="description" content="Create website with html5, css3, jQueary & boostrap framework">
    <meta name="keywords" content="HTML5, Css3, JQery, Boostrap, Web Design, Web Devlopment, Responsive website, Creative website">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans
             :wght@300;400;600;700&display=swap" rel="stylesheet">
    <!--bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/boostrap/bootstrap.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">
    <!-- CSS LINK -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Responsive css-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <script src="~/Scripts/js/jquery.js"></script>
    <link href="~/Content/css/jquery.dataTables.min">
    <link href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/js/jquery.js"></script>
    <!--bootstrap js -->
    <script src="~/Scripts/js/bootstrep/bootstrap.js"></script>
    <!-- custom js file -->
    <script src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("myDataTable",false)
</body>
</html>