USE [master]
GO
/****** Object:  Database [project]    Script Date: 10-04-2021 19:42:48 ******/
CREATE DATABASE [project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 10-04-2021 19:42:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](20) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[ReqDate] [datetime] NOT NULL,
	[ApprovedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Buyer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[AdminId] [int] NOT NULL,
	[Date] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[EmailId] [varchar](50) NOT NULL,
	[Subject] [varchar](50) NOT NULL,
	[Comment] [varchar](max) NOT NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](50) NULL,
	[Description] [varchar](300) NULL,
	[AdminId] [int] NOT NULL,
	[Date] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageAdmin]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageAdmin](
	[SupportPhone] [varchar](20) NOT NULL,
	[SupportEmail] [varchar](50) NOT NULL,
	[EmailId] [varbinary](50) NULL,
	[DisplayPic] [varchar](350) NULL,
	[ProfilePicture] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembersData]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembersData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfilePicture] [varchar](350) NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[EmailId] [varchar](100) NOT NULL,
	[Password] [varchar](24) NOT NULL,
	[DOB] [date] NULL,
	[Gender] [varchar](10) NULL,
	[PhoneNo] [varchar](20) NULL,
	[AddLine1] [varchar](100) NULL,
	[Addline2] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[ZipCode] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[University] [varchar](50) NULL,
	[Collage] [varchar](50) NULL,
	[Date] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[IsDetailsSubmitted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_MembersData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteDetails]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[NoteTitle] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[DisplayPic] [varchar](350) NULL,
	[Preview] [varchar](350) NOT NULL,
	[Type] [varchar](50) NULL,
	[NoOfPages] [varchar](10) NULL,
	[Description] [varchar](max) NULL,
	[University] [varchar](200) NULL,
	[Country] [varchar](50) NULL,
	[CourseCode] [varchar](100) NULL,
	[Course] [varchar](100) NULL,
	[Professor] [varchar](100) NULL,
	[SellFor] [bit] NOT NULL,
	[SellPrice] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[ReqDate] [datetime] NOT NULL,
	[ApprovedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[note] [varchar](50) NULL,
 CONSTRAINT [PK_NoteDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [int] NULL,
	[Description] [varchar](300) NOT NULL,
	[Date] [datetime] NOT NULL,
	[InaAppropriate] [varchar](50) NULL,
	[NoteId] [int] NOT NULL,
	[BuyerId] [int] NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[ReqDate] [datetime] NOT NULL,
	[ApprovedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Seller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 10-04-2021 19:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](100) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[AdminId] [int] NOT NULL,
	[Date] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([Id], [Email], [FirstName], [LastName], [PhoneNo], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'abc@gmail.com', N'Raj', N'Jadav', N'2255445566', NULL, 3, NULL, NULL, 0)
INSERT [dbo].[admin] ([Id], [Email], [FirstName], [LastName], [PhoneNo], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'apm@gmail.com', N'arjun', N'parmar', N'4545454545', NULL, 27, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Buyer] ON 

INSERT [dbo].[Buyer] ([Id], [MemberId], [BookId], [ReqDate], [ApprovedDate], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (5, 10, 13, CAST(N'2021-03-24T11:33:23.917' AS DateTime), CAST(N'2021-03-24T11:33:23.913' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Buyer] ([Id], [MemberId], [BookId], [ReqDate], [ApprovedDate], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (9, 11, 11, CAST(N'2021-03-27T11:22:00.883' AS DateTime), CAST(N'2021-04-09T13:09:38.983' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Buyer] ([Id], [MemberId], [BookId], [ReqDate], [ApprovedDate], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (10, 10, 11, CAST(N'2021-04-01T10:58:36.797' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Buyer] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Category], [Description], [AdminId], [Date], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'IT', N'material releted it', 2, NULL, NULL, NULL, 1)
INSERT [dbo].[Category] ([Id], [Category], [Description], [AdminId], [Date], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Computer', N'material related Computer', 2, NULL, NULL, NULL, 1)
INSERT [dbo].[Category] ([Id], [Category], [Description], [AdminId], [Date], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (5, N'Science', N'material related science', 2, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([Id], [FullName], [EmailId], [Subject], [Comment]) VALUES (1, N'Dhruvinsinh', N'dhruvinsinhjadav658@gmail.com', N'hello', N'hi')
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Country], [Description], [AdminId], [Date], [ModifiedBy], [ModifiedDate], [IsActive]) VALUES (4, N'India', N'India', 2, NULL, NULL, NULL, 1)
INSERT [dbo].[Country] ([Id], [Country], [Description], [AdminId], [Date], [ModifiedBy], [ModifiedDate], [IsActive]) VALUES (5, N'Australia', N'aus', 2, NULL, NULL, NULL, 1)
INSERT [dbo].[Country] ([Id], [Country], [Description], [AdminId], [Date], [ModifiedBy], [ModifiedDate], [IsActive]) VALUES (6, N'USA', N'usa', 2, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[MembersData] ON 

INSERT [dbo].[MembersData] ([Id], [ProfilePicture], [FirstName], [LastName], [EmailId], [Password], [DOB], [Gender], [PhoneNo], [AddLine1], [Addline2], [City], [State], [ZipCode], [Country], [University], [Collage], [Date], [IsActive], [IsEmailVerified], [IsDetailsSubmitted], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (8, NULL, N'Dhruvin', N'Jadav', N'xyz@gmail.com', N'notemarketplace@123', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-02-23T13:54:04.830' AS DateTime), 1, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[MembersData] ([Id], [ProfilePicture], [FirstName], [LastName], [EmailId], [Password], [DOB], [Gender], [PhoneNo], [AddLine1], [Addline2], [City], [State], [ZipCode], [Country], [University], [Collage], [Date], [IsActive], [IsEmailVerified], [IsDetailsSubmitted], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (9, NULL, N'Raj', N'Jadav', N'abcd@gmail.com', N'Note@123', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-02-23T13:57:23.863' AS DateTime), 1, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[MembersData] ([Id], [ProfilePicture], [FirstName], [LastName], [EmailId], [Password], [DOB], [Gender], [PhoneNo], [AddLine1], [Addline2], [City], [State], [ZipCode], [Country], [University], [Collage], [Date], [IsActive], [IsEmailVerified], [IsDetailsSubmitted], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (10, NULL, N'mira', N'jadav', N'pqr@gmail.com', N'123', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-02-23T14:00:18.130' AS DateTime), 1, 0, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MembersData] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteDetails] ON 

SET IDENTITY_INSERT [dbo].[NoteDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([Id], [Rate], [Description], [Date], [InaAppropriate], [NoteId], [BuyerId]) VALUES (8, 4, N'Very Good', CAST(N'2021-04-10T13:32:12.357' AS DateTime), NULL, 13, 10)
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[Seller] ON 

INSERT [dbo].[Seller] ([Id], [MemberId], [BookId], [ReqDate], [ApprovedDate], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, 11, 13, CAST(N'2021-03-24T11:33:24.030' AS DateTime), CAST(N'2021-03-24T11:33:24.030' AS DateTime), NULL, 10, 1)
INSERT [dbo].[Seller] ([Id], [MemberId], [BookId], [ReqDate], [ApprovedDate], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, 11, 11, CAST(N'2021-03-27T11:22:00.910' AS DateTime), CAST(N'2021-04-09T13:09:39.140' AS DateTime), NULL, 11, 1)
INSERT [dbo].[Seller] ([Id], [MemberId], [BookId], [ReqDate], [ApprovedDate], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, 11, 11, CAST(N'2021-04-01T10:58:36.810' AS DateTime), CAST(N'2021-04-01T10:58:36.810' AS DateTime), NULL, 10, 0)
SET IDENTITY_INSERT [dbo].[Seller] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Type], [Description], [AdminId], [Date], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'val1', N'abc', 2, NULL, NULL, NULL, 1)
INSERT [dbo].[Type] ([Id], [Type], [Description], [AdminId], [Date], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'val2', N'cde', 2, NULL, NULL, NULL, 1)
INSERT [dbo].[Type] ([Id], [Type], [Description], [AdminId], [Date], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'val3', N'fgh', 2, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Table_1_EmailId]    Script Date: 10-04-2021 19:42:51 ******/
ALTER TABLE [dbo].[MembersData] ADD  CONSTRAINT [UQ_Table_1_EmailId] UNIQUE NONCLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [DF_admin_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Buyer] ADD  CONSTRAINT [DF_Buyer_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ManageAdmin] ADD  CONSTRAINT [DF_ManageAdmin_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MembersData] ADD  CONSTRAINT [DF_MembersData_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MembersData] ADD  CONSTRAINT [DF_MembersData_IsEmailVerified]  DEFAULT ((1)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[MembersData] ADD  CONSTRAINT [DF_MembersData_IsDetailsSubmitted]  DEFAULT ((0)) FOR [IsDetailsSubmitted]
GO
ALTER TABLE [dbo].[NoteDetails] ADD  CONSTRAINT [DF_NoteDetails_SellFor]  DEFAULT ((0)) FOR [SellFor]
GO
ALTER TABLE [dbo].[NoteDetails] ADD  CONSTRAINT [DF_NoteDetails_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Seller] ADD  CONSTRAINT [DF_Seller_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Type] ADD  CONSTRAINT [DF_Type_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Buyer_MembersData] FOREIGN KEY([MemberId])
REFERENCES [dbo].[MembersData] ([Id])
GO
ALTER TABLE [dbo].[Buyer] CHECK CONSTRAINT [FK_Buyer_MembersData]
GO
ALTER TABLE [dbo].[Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Buyer_NoteDetails] FOREIGN KEY([BookId])
REFERENCES [dbo].[NoteDetails] ([Id])
GO
ALTER TABLE [dbo].[Buyer] CHECK CONSTRAINT [FK_Buyer_NoteDetails]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_admin] FOREIGN KEY([AdminId])
REFERENCES [dbo].[admin] ([Id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_admin]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_admin] FOREIGN KEY([AdminId])
REFERENCES [dbo].[admin] ([Id])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_admin]
GO
ALTER TABLE [dbo].[NoteDetails]  WITH CHECK ADD  CONSTRAINT [FK_NoteDetails_MembersData] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[MembersData] ([Id])
GO
ALTER TABLE [dbo].[NoteDetails] CHECK CONSTRAINT [FK_NoteDetails_MembersData]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_NoteDetails] FOREIGN KEY([NoteId])
REFERENCES [dbo].[NoteDetails] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_NoteDetails]
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_MembersData] FOREIGN KEY([MemberId])
REFERENCES [dbo].[MembersData] ([Id])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_MembersData]
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_NoteDetails] FOREIGN KEY([BookId])
REFERENCES [dbo].[NoteDetails] ([Id])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_NoteDetails]
GO
USE [master]
GO
