@model NoteMarket.Models.RatesModel
@{
    ViewBag.Title = "Rates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>

    <form action="/NoteDetails/Rates?noteid=@ViewBag.nd" method="post" id="Rates">
    <div class="container">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a data-dismiss="modal" aria-label="Close">
                        <span class="close1" aria-hidden="true">&times;</span>
                    </a>

                    <h4>Add Review</h4>
                </div>
                <div class="modal-body">

                    <div class="rate">
                        <input type="radio" id="rate-star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                    <div class="underrating" style="margin-bottom: 30px">
                        <label>Comments *</label><br>
                        @*<input type="text" class="form-control-13">*@
                        @Html.EditorFor(m => m.comment, new { htmlAttributes = new { @class = "form-control-13", placeholder = "Comment" } })
                        <a class="btn-rat" href="javascript:$('#Rates').submit();">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </form>
</section>
